<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958706211591-mvvbstusmb5bjh2t9h76p9v9hj9uh7q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958706211591-mvvbstusmb5bjh2t9h76p9v9hj9uh7q5</string>
	<key>API_KEY</key>
	<string>AIzaSyAlU-VoS3BpGQUV-MFrWDzCyj4GdgMMERM</string>
	<key>GCM_SENDER_ID</key>
	<string>958706211591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-67674</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-67674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958706211591:ios:b6b0c1e4fb1b42064d03a2</string>
</dict>
</plist>